<%= hidden_field_tag "item[field_value_ids][]", nil %>
<% item.category_fields.each do |item_field| %>
  <div class="form-row">
    <% if ["original_kind", "handmade_medium", "handblown_medium"].include?(item_field.field_name) %>
      <div class="hidden">
        <%= select_tag "item[field_value_ids][]", options_from_collection_for_select(item_field.field_values, :id, :name, selected: FieldValue.default_id(item.category.name)) %>
      </div>
    <% elsif item_field.field_values.count == 0 %>
      <%= f.fields_for :properties, OpenStruct.new(item.properties) do |builder| %>
        <%= render "items/item_fields/#{item_field.field_type}", item: item,  item_field: item_field, f: builder %>
      <% end %>
    <% else %>
      <div class="col">
        <%= label_tag item_field.field_name %><br>
        <%= select_tag "item[field_value_ids][]", options_from_collection_for_select(item_field.field_values, :id, :name, selected: item.selected_field_value(item_field)[0]), { :include_blank => true, onchange: "this.form.submit();" } %>
      </div>
    <% end %>
  </div>
<% end %>
