<%= form_for @item, :html => {:class => 'form', :id => 'item_form'} do |f| %>
  <div>
    <p><%= @item.category_fields.pluck(:field_name) %></p>
    <p><%#= Item.type_values("mounting_type") %></p>
  </div>

  <div class="form-row">
    <div class="col-1">
      <%= f.label :sku %>
      <%= f.text_field :sku, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="col-1">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, { class: 'form-control', :include_blank => true }, onchange: "this.form.submit();" %>
    </div>
  </div>

  <% if @item.category_id %>
    <%= render 'items/field_value', item: @item, f: f %>
  <% end %>

  <%#= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
