<%= form_for @item, :html => { :class => 'form', :id => 'item_form'} do |f| %>
  <%#= render "items/hidden", f: f %>
  <%= f.hidden_field :field_value_ids %>
  <!-- <script type="text/javascript">
    function submitform(){
      $('#redirect_location').val(':edit');
      $('#item_form').submit();
    }
  </script> -->
  <!-- <script type="text/javascript">
    function reload(){
      var item_type_id = $('#selectItemtype').val();
      $('#item_item_type_id').val('item_type_id');
    }
  </script> -->

  <div class="form-row">
    <div class="col-1">
      <%= f.label :sku %>
      <%= f.text_field :sku, class: 'form-control' %>
    </div>
  </div>

  <div class="form-row">
    <div class="col-1">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, { class: 'form-control', :include_blank => true } %>
    </div>
  </div>

  <% if @item.category_id %>
    <% @item.category.item_fields.each do |item_field| %>
      <div class="form-row">
        <div class="col">
          <%# item_field.field_values.each do |field_value| %>
            <%#= field_value.name %>
          <%# end %>
          <%= f.label item_field.field_name %>
          <%= f.collection_select :field_value_ids, item_field.field_values, :id, :name, { class: 'form-control', :include_blank => true } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%#= render "items/properties", parent: @item, f: f %>
  <%= f.submit "Save" %>
  </div>
<% end %>
