<%= form_for @category do |f| %>
<%#= @category.fields_arr %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.select :name, options_for_select(Category.category_dropdown, selected: @category.name), {:include_blank => true}  %>
  </div>

  <div class="field">
    <%= f.label :fields %><br>
    <%= f.text_field :fields, class: "form-control"   %>
  </div>

  <h4>Associated Fields:</h4>
    <div class="form-check">
      <% if @category.name %>
        <div class="custom-control custom-checkbox custom-control-inline">
          <%= f.collection_check_boxes :item_field_ids, ItemField.category_fields(@category.name), :id, :field_name, class: "custom-control-input form-check" %>
        </div>
      <% end %>
    </div>
  <%= f.submit "Save" %>
<% end %>
